html,
body {
  margin: 0;
  padding: 0;
}

/* Links */
a {
  text-decoration: none;
}

.logo-text {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: larger;
  color: black;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.img-header img,
.container_welcome {
  height: 600px;
  display: inline-block;
  justify-content: space-around;
  align-items: center;
  margin: 75px;
  margin-bottom: 10px;
  max-width: 100%;
}

.container_about,
.container_icon,
.container_opening {
  background-color: beige;
}

nav {
  display: none;
}

#hamburger-menu {
  display: none;
}

#hamburger-menu:checked ~ nav {
  display: block;
}

.square {
  width: 30px;
  height: 30px;
}

.item_icon img {
  height: 50px;
  margin: 55px;
  margin-bottom: 10px;
  justify-content: center;
}

.item_opening1 {
  height: 200px;
}

@media (min-width: 600px) and (max-width: 1200px) {
}

@media only screen and (min-with: 600px) {
}

@media (max-width: 480px) {
  .p {
    font-size: 16px;
  }

  main {
    background-color: black;
  }

  .img-header,
  .container_welcome {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0px;
    align-items: center;
  }
}
