html,
body {
  margin: 0;
  padding: 0;
}

/* Links */
a {
  text-decoration: none;
}

.logo-text {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: larger;
  color: black;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.img-header img {
  height: 600px;
  max-width: 100%;
}

.container_about,
.container_contact,
.container_opening {
  background-color: beige;
}

nav {
  display: none;
}

#hamburger-menu {
  display: none;
}

#hamburger-menu:checked ~ nav {
  display: block;
}

.square {
  width: 30px;
  height: 30px;
}

@media only screen and (min-width: 600px) {
  .item {
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }
}
