html,
body {
  margin: 0;
  padding: 0;
}

p,
h1,
h2,
h3,
h4,
h5 {
  max-width: 600px;
  margin: 0 auto;
}

/* Links */
a {
  text-decoration: none;
}

.logo-text {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: larger;
  color: black;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.container_welcome {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.img-header img {
  height: 400px;
  display: inline-block;
  justify-content: space-around;
  align-items: center;
}

.container_opening {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.container_about {
  margin-top: 10px;
  margin-bottom: 10px;
}

.item_opening1 {
  height: 200px;
  justify-content: space-around;
  align-items: center;
  margin-top: 10px;
}

.container_icon {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.item_icon img {
  height: 50px;
  margin: 55px;
  margin: 30px;
}

.container_about,
.container_icon,
.container_opening,
.container_welcome .item_opening {
  background-color: grey;
}

nav {
  display: none;
}

#hamburger-menu {
  display: none;
}

#hamburger-menu:checked ~ nav {
  display: block;
}

.square {
  width: 30px;
  height: 30px;
}

@media (min-width: 600px) and (max-width: 1200px) {
}

@media (min-width: 600px) and (max-width: 1200px) {
}

@media only screen and (min-with: 600px) {
  .container_welcome {
    display: flex;
    margin: 0px;
    align-items: center;
    justify-content: space-around;
  }
}
.img-header img {
  height: 400px;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

@media (min-width: 600px) and (max-width: 1200px) {
}

@media only screen and (min-with: 600px) {
}

@media (max-width: 480px) {
  .p {
    font-size: 16px;
  }

  .img-header,
  .container_welcome,
  .container_opening,
  .item_opening,
  .container_about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0px;
    align-items: center;
    margin-top: 10px;
    width: 100%;
  }
}
